*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}
.main-container{
    height: 80vh;
    align-content: center;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    justify-self: center;
    padding: 30px;
    gap: 10px;
    background-image: linear-gradient(rgba(194, 161, 91, 0.7),rgba(175, 78, 78, 0.7));
    box-shadow: 5px 15px 15px rgb(71, 48, 20);
}
.name, .quote, .description{
    text-align: center;
}
.name{
    color: rgb(136, 24, 24);
}
.description{
    max-width: 100ch;
    line-height: 22px;
}
.buttons{
    display: flex;
    width: 100vw;
    gap: 50px;
    padding: 15px;
    justify-self: center;
    justify-content: center;
    background-image: linear-gradient(rgb(194, 161, 91),rgb(175, 78, 78));
    box-shadow: 5px 7px 15px rgb(71, 48, 20);
}
.btn{
    padding: 5px;
    width: 75px;
    border: 2px solid rgb(214, 86, 0);
    border-radius: 8px;
    color: rgb(136, 24, 24);
    font-weight: bold;
    background-color: rgb(255, 213, 134);
}
.btn:hover{
    cursor: pointer;
}
.location, .loc-desc, .hour, .contact{
    margin-right: auto;
}
.loc-desc{
    padding-left: 10px;
}
.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 10px;
}
.menuitem{
    display: grid;
    gap: 10px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(194, 161, 91, 0.7),rgba(175, 78, 78, 0.7));
    box-shadow: 5px 15px 15px rgb(71, 48, 20);
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: 10px;
    justify-items: center;
}
.menuimg{
    max-width: 90%;
    box-shadow: 5px 5px 15px rgb(104, 58, 58);
    border-radius: 10px;
}
.menuname{
    text-align: center;
    color: rgb(197, 194, 0);
}